.about-container {
    align-items: center;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  
  .image-text  {
    position: absolute;
    color: white;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Background color for better readability */
    padding: 10px 20px; /* Padding around the text */
  }
  
  .img2 {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 10;
    left: 0;
    margin-right:1;
    bottom: calc(-50% - 50%); /* Set the bottom to half of the container minus 1px for precision */
    right: 0;

  }
.sigiriyaall{
    display: flex;
    padding:50px;
    margin: 50px;
    
    

    
}
.populartext{
    font-weight: bolder;
    

}
.sigiriyapara{
    align-items: first baseline;
    justify-content: space-between;
    text-indent: 0; /* Reset indentation */
    text-align: left; /* Ensure left alignment */
    border-style: outset;
}
.sigiriyaphoto {
    width: 270%;
    margin: 20px;
    padding: 20px;
}

.ellaall{
    display: flex;
    padding:50px;
    margin: 50px;
    
}
.ellahead{
    font-weight: bolder;
}
.ellatext{
    align-items: first baseline;
    justify-content: space-between;
    text-indent: 0; /* Reset indentation */
    text-align: left; /* Ensure left alignment */
    border-style: outset;

}
.ellaphoto{
    width: 90%; 
    padding: 10px;  
    margin-top: 40px;
     
}
